In [28]:
import numpy as np
import pandas as pd

# Création d'une série avec des types mixtes
# Note: Pandas convertit les types en un type commun, ici 'object'
uneSerie = pd.Series(["un", 2, "III", 4, "cinq"])

# Affichage de la série
uneSerie

0      un
1       2
2     III
3       4
4    cinq
dtype: object

In [29]:
# Création d'un DataFrame avec des types mixtes
# Note: Pandas convertit les types en un type commun, ici 'object'
unDataFrame = pd.DataFrame({
    "nom": ["un", "deux", "trois", "quatre", "cinq"],
    "valeur": [1.0, 2.0, 3.0, 4.0, 5.0]
})

# Affichage du DataFrame
unDataFrame

      nom  valeur
0      un     1.0
1    deux     2.0
2   trois     3.0
3  quatre     4.0
4    cinq     5.0

In [38]:
# Création d'un autre DataFrame avec des dates
# Note: Les dates sont stockées en tant que type 'datetime64[ns]'
unAutreDataFrame = pd.date_range(start="2002-06-02", end="2025-06-02", periods=23)

# Affichage du DataFrame
unAutreDataFrame

# Affichage des types de données (dtypes) du DataFrame
print("Types de données dans le DataFrame:")
print(unAutreDataFrame.dtype)

Types de données dans le DataFrame:
datetime64[ns]